<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="copy">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>游游CMS</title>
    <link th:href="@{/statics/images/my.ico}" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/statics/font-awesome/css/font-awesome.css}">
    <script type="text/javascript" th:src="@{/statics/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/jquerysession.js}"></script>
    <script type="text/javascript" th:src="@{/statics/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/statics/css/weadmin.css}">
</head>
</html>