<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy"></head>
<style type="text/css">
    #demo2 > img {
        width: 33%;
        height: 115px;
    }

    #demo1 {
        width: 100%;
        height: 250px;
    }
</style>
<body class="layui-layout-body" style="overflow: auto; margin-top: 2%;">
<div class="layui-container">
    <form class="layui-form" onsubmit="return false;">

        <div class="layui-form-item">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-block">
                <input name="oUserId" lay-verify="title" autocomplete="off" placeholder="请输入用户Id" class="layui-input"
                       type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input name="oUserName" lay-verify="title" autocomplete="off" placeholder="请输入用户名称" class="layui-input"
                       type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户电话</label>
            <div class="layui-input-block">
                <input name="oUserPhone" lay-verify="title" autocomplete="off" placeholder="请输入用户电话" class="layui-input"
                       type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">意见反馈</label>
            <div class="layui-input-block">
                <input name="oUserSuggest" lay-verify="title" autocomplete="off" placeholder="请输入您的意见" class="layui-input"
                       type="text">
            </div>
        </div>

        <br>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" id="sub_add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">立即重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:replace="common/script::copy"></script>
<script type="text/javascript" th:src="@{/statics/js/jquery-3.3.1.js}"></script>
<script type="text/javascript" data-th-inline="javascript">
    //$("#oUserName").val([[${oUserName}]]);
    layui.use(['form', 'layedit', 'upload', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , $ = layui.jquery
            , upload = layui.upload;

        //监听提交
        form.on('submit(demo1)', function (data) {
            var index = layer.msg('努力中...', {
                icon: 1,
                shade: [0.5, '#f5f5f5'],
                scrollbar: false,
                offset: '50%',
                time: 10000
            });

            var sub_data = {
                //"oId": $("input[name='oId']").val(),
                "oUserId": $("input[name='oUserId']").val(),
                "oUserName": $("input[name='oUserName']").val(),
                "oUserPhone": $("input[name='oUserPhone']").val(),
                "oUserSuggest": $("input[name='oUserSuggest']").val()
            };
            $.post(context + "/opinion/insert_opinion", sub_data, function (res) {
                console.log(res);
                let index_1 = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index_1);
                layer.close(index);
                window.location.href = window.location.href;
            });
        });


    })
</script>

