<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <!--,toolbar: '#images'-->
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb">
                <a href="/weCharGameCms/work/index">CMS后台</a>
                <a href="/weCharGameCms/opinion/opinion">与我相关</a>
                <a><cite>意见反馈</cite></a>
            </span>
            <hr class="layui-bg-orange">

            <div class="layui-card-header demoTable">
                <button class="layui-btn" data-type="add_opinion">增加意见</button>
            </div>

            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <!--<div class="layui-card-header"></div>-->
                            <div class="layui-tab layui-tab-card">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">意见反馈</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <table class="layui-hide" id="notFinshs" lay-filter="demo"></table>
                                    </div>
                                    <div class="layui-tab-item">
                                        <table class="layui-hide" id="Finshs" lay-filter="demo1"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="common/script::copy"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['table', 'jquery', 'form'], function () {
        var table = layui.table
            , form = layui.form
            , $ = layui.jquery;

        table.render({
            elem: '#notFinshs'
            , url: context + '/opinion/opinionlist'
            , cellMinWidth: 80
            , cols: [[
                {field: 'oId', title: 'ID'}
                , {field: 'oUserName', title: '用户名称'}
                , {field: 'oUserPhone', title: '用户电话'}
                , {
                    field: 'oUserSuggest',
                    title: '用户意见',
                    name: "sysData",
                    templet: '#switchTpl',
                    unresize: true
                }//
            ]]
            , page: true
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        var $ = layui.$, active = {

            add_opinion : function(){
                layer.open({
                    type: 2,
                    title: '新增意见',
                    area: ['850px', '600px'],
                    //content: context+'/opinion/add_opinion?oUserName='+"用户名称"
                    content: context+'/opinion/add_opinion'
                });
            }
        };
    });
</script>

</body>
</html>

