<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy"></head>
<link rel="stylesheet" th:href="@{/statics/custom_css/game_map/gameMap.css}">
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="common/top::copy"></div>
    <div th:replace="common/left::copy (title = 'game', portion = 'gameMap')"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb">
                <a href="/weCharGameCms/work/index">CMS后台</a>
                <a href="/weCharGameCms/game/gameMap">游戏管理</a>
                <a><cite>游戏地图</cite></a>
            </span>
            <hr class="layui-bg-orange">
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" id="upload_pic"><i class="layui-icon"></i>上传图片</button>
                            </div>
                            <div class="layui-card-body">
                                <table class="layui-hide" id="test" lay-filter="demo"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/footer::copy"></div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="imgTpl">
    <img src="{{ d.mapUrl}}"/>
</script>
<script th:replace="common/script::copy"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form', 'layedit', 'upload', 'laydate', 'table'], function() {
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , $ = layui.jquery
            , upload = layui.upload;
        var table = layui.table;


        table.render({
            elem: '#test'
            ,url: context+'/game/page_list'
            ,cols: [[
                {field:'mapId', width: '20%', title: 'ID', sort: true, align:'center'}
                ,{field:'mapInfo', width: '20%', title:'地图主题', align:'center'}
                ,{field:'mapTime', width: '20%', title: '上传时间', sort: true, align:'center'}
                ,{field:'mapUrl', title: '图片', align: 'center',templet: '#imgTpl',event: 'browse'}
                ,{fixed: 'right', title: '操作', width: '20%', align:'center', toolbar: '#barDemo'}//
            ]]
            ,page: true
            ,limit: 8
        });


        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确认要删除吗?', function(index){
                    // console.log(data.mapId); return false;
                    $.get(context+'/game/map_del/'+data.mapId, function (res) {
                        if(res.code == 100){
                            layer.msg('删除成功！', {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                obj.del();
                            });
                        }else{
                            layer.msg("删除失败！", {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){

                            });
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'detail'){
                // let img = '<img src="'+data.mapUrl+'"/>';
                layer.open({
                    type: 2,
                    title: data.mapInfo,
                    closeBtn: 0,
                    area: ['600px', '500px'],
                    skin: 0.6, //没有背景色
                    shadeClose: true,
                    content: data.mapUrl
                });

            }


        });


        //设定文件大小限制
        upload.render({
            elem: '#upload_pic'
            ,url: context+'/game/upload_map'
            ,size: 6000 //限制文件大小，单位 KB
            ,done: function(res){
                // console.log(res)
                if(res.code == 100){
                    layer.msg("上传成功！", {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.window.location.href=context+"/game/gameMap";
                    });
                }
            }
        });
    })


</script>
</body>
</html>