<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy"></head>
<body class="layui-layout-body">

<div class="layui-card-header demoTable">
    <button class="layui-btn" data-type="add_famousBrand">历史线路</button>
</div>
<div class="layui-card-body">
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-sm" lay-event="edit_famousBrand" >编辑</a>
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="deleteFamousBrand">删除</a>
</script>
<script type="text/html" id="ctime">
    <time datetime="{{d.ctime}}"/>
</script>

<script th:replace="common/script::copy"></script>

<script type="text/javascript" th:inline="javascript">
    layui.use('table', function(){
        var table = layui.table;
        let hId = [[${hId}]];
        table.render({
            elem: '#test'
            ,url:context+'/activity/getselect?cname='+hId
            ,cols: [[
                {field:'cid', title: 'ID', sort: true, width:'10%', align:'center'}
                ,{field:'cname', title: '标题', width:'10%', align:'center'}
                ,{field:'clockpoints', title: '地点', width:'10%', align:'center'}
                ,{field:'cinitials', title: '初始积分', width:'10%', align:'center'}
                ,{
                    field: 'tourReco',
                    title: '推荐',
                    name: "sysData",
                    templet: '#switchTpl',
                    unresize: true
                }
                ,{fixed:'right', width:'20%', align:'center', toolbar:'#field_operator', title:'操作'}//
            ]]
            ,page:true
        });

        //监听工具条
        table.on('tool(demo)', function(obj){
            let data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    layer.close(index);
                    $.get(context+"/game/del_field/"+data.gafeId, function(res){
                        // console.log(res);
                        if(res.code == 100){
                            layer.msg("删除成功！", {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                obj.delete();
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            });
                        }
                    })

                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title: '编辑场次',
                    area: ['850px', '600px'],
                    content: context+"/game/edit_field/"+data.gafeId
                });
            }
        });

        var $ = layui.$, active = {
            getField: function() {
                var cname=$("#cname").val();
                // layer.open({
                //     type: 2,
                //     title: '查询线路',
                //     area: ['850px', '600px'],
                //     content: context+"/activity/select_CircuitList/"+cname
                // });

            }
        }

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });





    });
</script>
<!--<script type="text/javascript" th:inline="none">
    layui.use(['table', 'jquery','form'], function() {
        var table = layui.table;

        let hId = [[${hId}]];


        table.render({
            elem: '#test'
            ,toolbar: '#toolbarDemo'/*工具栏*/
            ,title: '上传线路页面'
            ,url:context+'/activity/getselect?cname='+hId
            ,cols: [[
                {field:'cid', width:'10%', title: 'id', sort: true, align: 'center'}
                ,{field:'cname', width:'10%', title: '名称', sort: true, align: 'center'}
                ,{field:'clockpoints', width:'10%', title: '打卡点数',sort: true, align: 'center'}
                ,{field:'ctime', width:'40%', title: '时间', sort: true, align: 'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:'30%',sort: true, align: 'center'}
            ]]
            ,page: true
        });

    })
</script>-->
</body>
</html>
