<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy"></head>
<link rel="stylesheet" th:href="@{/statics/custom_css/activity/activity.css}">
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <span class="layui-breadcrumb">
                <a href="/weCharGameCms/work/index">CMS后台</a>
                <a href="/weCharGameCms/game/gameMap">定向管理</a>
                <a><cite>上传活动</cite></a>
            </span>
            <hr class="layui-bg-orange">
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <ul class="layui-tab-title">
                                <li ><a href="javascript:;window.location.href=context+'/activity/activity2'">活动管理</a></li>
                                <li class="layui-this"><a href="javascript:;window.location.href=context+'/activity/activity'">定向旅游</a></li>
                            </ul>
                            <div class="layui-card-header">
                                <button class="layui-btn layui-btn-normal layui-btn-sm" id="game_add">增加活动</button>
                                <div id="demo6" class="game_page"></div>
                                <div id="demo7" class="game_page"></div>
                                <input type="hidden" id="total" th:value="${total}"/>
                                <input type="hidden" id="pageNum" th:value="${pageNum}"/>
                                <input type="hidden" id="limit" th:value="${limit}"/>
                            </div>

                            <div class="layui-card-body">
                                <div class="layui-row my_game_card" style="margin: 2% auto;">
                                    <div class="layui-col-xs2" th:each="activity : ${activityList}">
                                        <div class="grid-demo game_block">
                                            <a href=""><img th:src="${activity.hPicture}" alt="" class="game_pic" th:onerror="'this.src=\''+@{/statics/images/backgroup.jpg}+'\''"></a>
                                        </div>
                                        <div class="game_card">
                                            <div class="game_title">
                                                <span style="font-size: 20px;" th:text="${activity.hActivityName}">北海定向越野</span><br>
                                                <span style="color: #867777;" th:text="${activity.hActivityStime}">2018-10-25</span> / <span style="color: #3b43a9;" th:if="${activity.hStatus eq 0}" th:text="hStatus"></span>
                                                <span style="color: #3b43a9;" th:if="${activity.hStatus eq 1}" th:text="正在进行"></span>
                                                <span style="color: #3b43a9;" th:if="${activity.hStatus eq 2}" th:text="正在报名"></span>
                                            </div>
                                            <div class="operator_btn">
                                                <button class="layui-btn layui-btn-warm layui-btn-xs game_field_btn" th:attr="data-id=${activity.hId}">线路</button>
                                                <button class="layui-btn layui-btn-warm layui-btn-xs game_edit_btn"  th:attr="data-id=${activity.hId}">编辑</button>
                                                <button class="layui-btn layui-btn-danger layui-btn-xs game_upload_btn"  th:attr="data-id=${activity.hId}">下载</button>
                                                <button class="layui-btn layui-btn-xs game_del_btn" th:attr="data-id=${activity.hId}">删除</button>
                                                <button class="layui-btn layui-btn-xs game_reco_btn" th:attr="data-id=${activity.hId}" th:value="${activity.hReco}">
                                                    <span style="color: #ffffff;" th:if="${activity.hReco eq 1}" th:text="取消推荐"></span>
                                                    <span style="color: #ffffff;" th:if="${activity.hReco eq 0}" th:text="推荐"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="common/script::copy"></script>
<script type="text/javascript" th:src="@{/statics/custom_js/activity/activity.js}"></script>
</body>