<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy">
    <meta charset="UTF-8">
</head>

<style type="text/css">
    #demo2 > img {
        width: 33%;
        height: 115px;
    }
    #demo1 {
        width: 100%;
        height: 250px;
    }

    #hQrcode {
        width: 200px;
        height: 200px;
    }
</style>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <!--内容主体-->
        <div style="padding: 15px;">
        <span class="layui-breadcrumb">
                <a href="/">CMS后台</a>
                <a href="/demo/">游戏管理</a>
                <a><cite>新增活动</cite></a>
        </span>
            <hr class="layui-bg-orange">
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card-body">
                            <form class="layui-form layui-form-pane" onsubmit="return false;" id="form_submit">

                                <div class="layui-form-item">
                                    <label class="layui-form-label">活动名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="activityname" th:value="${activity.hActivityName}" autocomplete="off" placeholder="请输入活动名称"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">活动介绍</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="activitytell" th:value="${activity.hContent}" autocomplete="off" placeholder="请输入活动介绍"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">封面图</label>
                                    <div class="layui-input-block" id="test2" style="border: 1px solid #9F9F9F;">
                                        <div class="layui-upload-list" style="margin: 0;">
                                            <img class="layui-upload-img" name="hPicture" id="demo1" th:src="${activity.hPicture}"  readonly>
                                        </div>
                                    </div>
                                </div>


                                <div class="layui-form-item">
                                    <label class="layui-form-label">活动二维码</label>
                                    <div class="layui-input-block">
                                        <img class="layui-upload-img" name="hPicture" id="hQrcode" th:src="${activity.hQrcode}"  readonly>
                                    </div>
                                </div>

                                <!--<div class="layui-input-block">-->
                                    <!--<button type="button" class="layui-btn layui-btn-danger" id="upload_pic">-->
                                        <!--<img src="${activity.hPicture}">-->
                                    <!--</button>-->
                                    <!--<input type="hidden" name="activityHintPic"/>-->
                                <!--</div>-->

                                <div class="layui-form-item">
                                    <label class="layui-form-label">活动时间</label>
                                    <div class="layui-input-block" lay-verify="required|phone" placeholder="yyyy-MM-dd">
                                        <input type="date" class="layui-input" th:value="${activity.hActivityStime}" id="test1" name="hActivityStime"
                                               readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">参加人数</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="joinnum" th:value="${activity.hAttendPeopleCount}" autocomplete="off" placeholder="请输入参加人数"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">联系方式</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="phone" th:value="${activity.hContactway}" autocomplete="off" placeholder="请输入联系方式"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">活动地点</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="activitysite" th:value="${activity.hActivityPlace}" autocomplete="off"
                                               placeholder="请输入活动地点"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">负责人</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="principal" autocomplete="off" th:value="${activity.hConscientious}"
                                               placeholder="请输入负责人姓名"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">举办方</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="host" autocomplete="off" placeholder="请输入举办方名称" th:value="${activity.hOrganizer}"
                                               class="layui-input" readonly>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <input type="hidden" name="cardUrl">
                                    <div class="layui-inline" style="margin-left: 50%;">
                                        <button type="reset" class="layui-btn" id="cardSubmit">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:replace="common/script::copy"></script>
</html>