<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header::copy"></head>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/statics/css/font.css}">
    <link rel="stylesheet" th:href="@{/statics/css/weadmin.css}">
    <!--<script type="text/javascript" th:src="@{/statics/lib/layui/layui.js}" charset="utf-8"></script>-->

</head>
<body>

<form class="layui-form layui-form-pane" action="">

    <input type="hidden" name="id" th:value="${role.id}">

    <div class="layui-form-item">
        <label class="layui-form-label">菜单名</label>
        <div class="layui-input-block">
            <input type="text" name="roleName" th:value="${role.roleName}" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">角色类型</label>
        <div class="layui-input-block">
            <input type="text" name="roleType"  th:value="${role.roleType}"   autocomplete="off"
                   class="layui-input">
        </div>
    </div>


    <div class="layui-form-item"style="height:500px">
        <label class="layui-form-label">对应菜单</label>
        <div class="layui-input-block">

            <!-- 左侧菜单开始 -->
            <div class="left-nav" style="height:500px; width:300px;top:0px;">
                <div id="side-nav">
                    <ul id="nav">
                        <div th:each="menu : ${authorList}" style="">
                            <input type="checkbox" name="authorMenu"  class="menu" lay-filter="menu" th:value="${menu.id}"
                                   th:id="${menu.authorStatus}"  />
                            <li style="">
                                <a href="javascript:;">
                                    <cite>
                                        <span th:text="${menu.authorName}"></span>
                                        <i class="iconfont nav_right">&#xe697;</i>
                                    </cite>
                                </a>

                                <ul class="sub-menu">
                                    <div th:each="childMenu : ${menu.authorList}" style="margin-left: 100px;">
                                        <li>
                                            <input type="checkbox" name="authorMenu" class="childMenu" lay-filter="childMenu" th:value="${childMenu.id}"
                                                   th:id="${childMenu.authorStatus}"/>
                                            <span th:text="${childMenu.authorName}"></span>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="x-slide_left"></div>
        <!-- 左侧菜单结束 -->

    </div>
    </div>


    <input type="hidden" id="roleStatus" th:value="${role.roleStatus}">

    <div class="layui-form-item" pane="">
        <label class="layui-form-label">角色状态</label>
        <div class="layui-input-block">
            <input type="radio" id="roleStatus1" name="roleStatus" value="1">启用
            <input type="radio" id="roleStatus0" name="roleStatus" value="0" checked>禁用
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="formRole">提交</button>
        </div>
    </div>
</form>
</body>

<script th:replace="common/script::copy"></script>
<script>
    $(function(){
        //  获取所有的多选框
        var id=$(":checkbox");
        for(var i=0; i<id.length; i++){
            if($(id[i]).attr("id")==1){
                $(id[i]).attr("checked",true);
            }
        }

        //  获取角色的状态
        var authorStatus=$("#roleStatus").val();
        if(authorStatus==1){
            $("#roleStatus1").attr("checked",true);
            $("#roleStatus0").attr("checked",false);
        }

        $(".layui-form-checkbox").click(function(){
            alert(666);
        });


    });
</script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        layui.config({
            base: '/weCharGameCms/statics/js/layuiJS/'
            ,version: '101100'
        }).use('role');


        form.on('checkbox(menu)', function(data){
            form.render();
        });
        form.on('checkbox(childMenu)', function(data){
            form.render();
        });


        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });



        //监听提交
        form.on('submit(formRole)', function(data){
            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/


            //  获取所有的多选框
            var number = '';
            $('input:checkbox[name=authorMenu]:checked').each(function(k){
                if(k == 0){
                    number = $(this).val();
                }else{
                    number += ','+$(this).val();
                }
            })
            alert(number)



            var sub_data = {
                "id":                 $("input[name='id']").val(),
                "roleName":                 $("input[name='roleName']").val(),
                "roleType":                $("input[name='roleType']").val(),
                "roleStatus":                   $("input[name='roleStatus']").val(),
                "menu":                   number,
            };

            $.post(context+"/powers/role/updateRole",sub_data , function(res){
                if(res.code == 100){
                    layer.msg('修改成功！', {
                            icon: 1,
                            time: 2000
                        },

                        function(){
                            parent.window.location.href=context+"/powers/role/role";
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                }else{
                    layer.msg('修改失败！');
                }

                console.log(res);
            });
            return false;
        });
    });
</script>
</html>